@import "../../styles/variables";
@import "../../styles/mixins";

.writing {
  &__titleContainer {
    @include TopContainer();
  }

  &__title--desktop {
    @include SectionContainer();
  }

  &__titleText {
    @include Subheading($white);
  }

  &__titleStop {
    color: $black;
    font-size: $subheading-font-size;
  }

  &__bodyText {
    @include BodyText($white);
  }

  &__menu {
    @include SectionContainer();
    padding: 0;
    gap: 0;

    @media screen and (min-width: 481px) {
      flex-direction: row;
      overflow: hidden;
    }
  }

  &__links {
    @include SectionContainer();
    width: 100%;

    @media screen and (min-width: 481px) {
      width: 50%;
    }
  }

  &__menuItem {
    @include Subheading($black);

    &:hover {
      color: $red;
    }
  }

  &__titleStop {
    @include Subheading($red);
  }

  &__info {
    @include SectionContainer();
    width: 100%;
    min-height: 1000px;
  }

  &__infoTitle {
    @include Subheading($black);
  }

  &__infoText {
    @include BodyText($black);
  }
}
