$red: #B3002D;
$black: #000000;
$white: #ffffff;

$subheading-font-size: 1.8rem;
$body-font-size: 1.1rem;

$page-width: 1200px;

$padding-mobile: 1rem;

// Desktop breakpoint: >= 1025px
// Tablet breakpoint: < 1025px & > 480px
// Mobile breakpoint: <= 480px
